@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}

html {
  background-color: #05050a;
  font-family: Inter, sans-serif;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.gradient {
  background-clip: content-box, border-box;
  background-image: linear-gradient(black, black),
    linear-gradient(120deg, rgb(121, 40, 202) 0%, rgb(255, 0, 128) 100%);
}

.gradient:hover {
  background-image: linear-gradient(black, black),
    linear-gradient(240deg, rgb(121, 40, 202) 0%, rgb(255, 0, 128) 100%);
}
